* {
	padding: 0;
	margin: 0;
}

.all {
	/*background-image: linear-gradient(to right, rgb(12, 1, 20), rgb(67, 2, 90), rgb(91, 5, 153), rgb(60, 3, 151), rgb(27, 2, 119));*/
	background-image: linear-gradient(to right, rgb(12, 1, 20), rgb(31, 9, 78));
	height: auto;
}
.wave-edit {
	height: 80%;
	width: 100%;
	position: absolute;
	z-index: 0;
}
.menu {
	position: fixed;
	display: grid;
	background-color: inherit;
	grid-template-columns: 40% repeat(7, auto);
	grid-gap: 10px;
	width: 100%;
	text-transform: uppercase;
	font-size: 13px;
	align-items: center;
	z-index: 2;
}

.toggle.menu {
	background-color: rgba(0, 0, 0, 0.95);
}
[aria-controls="menu-list"] {
	display: none;
}
.scrolldown {
	background-color: rgba(253, 250, 250, 0.9);
	transition: all 0.5s;
}
.scrolldown.fb {
	background-color: indigo;
	color: whitesmoke;
}
.scrolldown.fa.fa-instagram {
	color: indigo;
	background-color: inherit;
}
.rule {
	height: 100%;
	width: 100%;
}
.menu > a,
.rules {
	position: relative;
	display: grid;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	text-decoration: none;
	transition: all 0.5s;
	color: white;
}
/* .rule {
	display: grid;
	justify-content: center;
	align-items: center;
} */

.menu > a:hover {
	color: rgb(246, 246, 190) !important;
}
.menu > a::after,
.rules::after {
	content: "";
	width: 0%;
	height: 2px;
	background: #e062ff;
	display: block;
	margin: auto;
	margin-top: 10px;
	transition: 0.5s;
}

.menu > a:hover::after,
.rules:hover::after {
	width: 100%;
}

.menu.scrolldown > a:hover {
	color: black !important;
	font-size: 15px !important;
}
.menu > .facebook {
	text-transform: lowercase;
	text-align: right;
	/* padding: 3%; */
}
.fb {
	width: 15px;
	height: 19px;
	font-size: 20px;
	font-weight: 600;
	padding-right: 3px;
	background-color: whitesmoke;
	border-radius: 4px;
	color: indigo;
}
.fb:hover {
	background-color: rgb(248, 248, 145);
	transition: all 0.3s;
}
.fa.fa-instagram:hover {
	color: rgb(246, 246, 190);
	transition: all 0.3s;
}
.fb.scrolldown:hover {
	background-color: black;
	font-size: 25px;
	width: 18px;
	height: 24px;
	padding-right: 5px;
}
.fa.scrolldown.fa-instagram:hover {
	color: black;
	font-size: 30px;
}
.fa.fa-instagram {
	padding-right: 30px;
	font-size: 24px;
	color: whitesmoke;
	padding: 2%;
}
.menu > .logo {
	padding-left: 50px;
	padding-bottom: 7px;
}
.logo > .logo1 {
	justify-content: flex-end;
	padding-left: 100px;
	padding: 10px;
}
.logo1 > img {
	height: 90px;
	width: 250px;
}
.logo > .logo2 {
	justify-content: flex-start;
	height: 80px;
	width: 80px;
}
.logo2 > img {
	height: 80px;
	width: 80px;
}
.dropdown {
	position: absolute;
	overflow: hidden;
	padding: 20px;
	top: -20px;
	border-radius: 4px;
	transition: opacity 0.5s;
	transform: translateY(100px);
	display: none;
	opacity: 0;
	background: rgb(145, 21, 21);
	border-radius: 4px;
}
.trigger-enter .dropdown {
	display: grid;
}
.trigger-enter .arrow {
	display: block;
}

.trigger-enter-active .dropdown,
.trigger-enter-active .arrow {
	opacity: 1;
}

.arrow {
	position: absolute;
	width: 20px;
	height: 20px;
	display: none;
	transition: opacity 0.8s;

	opacity: 0;
	left: 0;
	top: -10px; /*half of the height*/
	background: white;
}
/* media query for header */
@media screen and (max-width: 1300px) {
	.menu {
		font-size: 11px;
	}
	.logo1 > img {
		height: 80px;
		width: 220px;
	}
	.logo2 > img {
		height: 70px;
		width: 70px;
	}
}
@media screen and (max-width: 1150px) {
	[aria-controls="menu-list"] {
		display: inline-block;
		background: none;
		border: none;
		font-size: 30px;
		padding: 15px 30px;
		color: white;
		height: 80px;
	}
	#bar1,
	#bar2,
	#bar3 {
		width: 30px;
		height: 5px;
		background-color: rgb(255, 255, 255, 0.9);
		margin: 5px 0;
		transition: all 0.4s;
		border-radius: 3px;
		text-align: center;
	}
	.cross-icon #bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
		transition: all 0.5s;
	}
	.cross-icon #bar2 {
		opacity: 0;
	}

	.cross-icon #bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
		transition: all 0.5s;
	}
	.menu {
		grid-template-columns: 60px auto;
		grid-template-rows: repeat(8, auto);
		background-color: inherit;
		height: auto;
		transition: all 0.5s;
		grid-gap: 0;
	}
	.scrolldown {
		background-color: whitesmoke;
	}
	.menu > .logo {
		padding-left: 0;
		padding: 10px 10px;
	}
	.menu > a,
	.rule {
		grid-column: 2/3;
		display: none;
		color: rgba(255, 255, 255, 0.85);
		font-size: 20px;
		justify-content: flex-start;
		padding: 20px 0;
		text-align: left;
	}
	/* .rule{
		height: 200px;
	} */
	.rules {
		align-items: flex-start;
	}
	.arrow,
	.dropdown {
		display: none;
	}
	.trigger-enter .dropdown {
		display: none;
	}
	.trigger-dropdown .dropdown {
		display: grid;
		opacity: 1;
		position: relative;
		background-color: initial;
		transform: none;
		left: 30%;
	}
	.trigger-enter .arrow {
		display: none;
	}
	.menu > a:hover::after,
	.rules:hover::after {
		width: 0;
	}
	.menu > .facebook {
		display: none;
	}
	.fa.fa-instagram {
		padding: 0%;
	}
	.logo1 {
		display: none;
		padding: 0;
	}
	.logo2 > img {
		padding-top: 5px;
		padding-left: 10px;
		height: 60px;
		width: 60px;
	}
	.fb {
		width: 25px;
		height: 30px;
		font-size: 28px;
		background-color: rgba(245, 245, 245, 0.95);
		border-radius: 4px;
		color: rgba(0, 0, 0, 0.95);
	}
	.fa.fa-instagram {
		font-size: 35px;
	}
}
.main {
	display: grid;
	grid-template-columns: 65% 35%;
	padding-top: 100px;
	height: 700px;
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	z-index: 1;
}
.main > .content {
	padding-left: 180px;
	padding-top: 130px;
	z-index: inherit;
}
#line1 {
	font-size: 70px;
	padding: 5px;
	font-family: "Sansita Swashed", cursive;
}
#line2 {
	font-size: 30px;
	padding: 10px 5px;
	padding-bottom: 50px;
	font-family: "Bahnschrift", Times, serif;
	margin-bottom: 20px;
}
#line3,
#line4,
#line5,
#line6 {
	font-size: 22px;
	font-family: "Bahnschrift", Times, serif;
	padding: 5px;
}

#hollow_butt {
	color: #fbfcfd;
	padding: 10px 25px;
	background: transparent;
	border: 1px solid #fff;
	border-radius: 20px;
	outline: none;
	cursor: pointer;
}

#googleform {
	/* width: 300px;
	height: 75px;
	border: none;
	background-color: pink;
	font-size: 22px;
	margin: 30px;
	font-family: "PT Sans", sans-serif;
	transition: all 0.5s;
	cursor: pointer;
	border-radius: 2%;
	border: 5px solid #3b0349; */
	cursor: pointer;
	min-height: 30px;
	background: transparent;
	margin: 30px;
	text-align: center;
	line-height: 30px;
	border-color: rgb(252, 252, 252);
	border-width: 3px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: rgb(241, 241, 241);
	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Bahnschrift", fantasy;
	transition: 0.1s ease-out;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 10px;
	padding-left: 13px;
	/*
	box-shadow: inset 1px 1px 2px rgba(240, 242, 243, 0.795), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5),
		inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px rgba(0, 0, 0, 1);
		*/
	text-transform: uppercase;
}
#googleform span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.2s;
}
#googleform span:after {
	content: "\00bb";
	font-size: 22px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0s;
}
#googleform:hover {
	/* background-color: rgb(228, 85, 241);
	transition: all 0.5s;
	filter: brightness(120%); */
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	box-shadow: inset 1px 1px 2px rgba(104, 9, 141, 0.3), inset 3px 15px 45px rgba(59, 107, 197, 0.2), inset -1px -1px 2px rgba(205, 100, 214, 0.425),
		inset -3px -15px 45px rgba(113, 28, 192, 0.747), 1px -1px 4px 1px #d194dd, 1px -1px 12px 3px #dbb7e6, 1px -1px 30px 4px #ffffff;
	transition: 0.2s ease-in;
}

#googleform:hover span {
	padding-right: 25px;
}

#googleform:hover span:after {
	opacity: 1;
	right: 0;
}

.main > .progPic {
	display: grid;
	justify-content: center;
	align-items: center;
	z-index: 1;
}
.main > .progPic > img {
	width: 250px;
	height: 250px;
}

@media screen and (max-width: 1300px) {
	.main {
		height: 550px;
	}
	.main > .content {
		padding-left: 80px;
		padding-top: 50px;
	}
	.main > .progPic > img {
		width: 220px;
		height: 220px;
	}
	#line1 {
		font-size: 55px;
	}
	#line2 {
		font-size: 20px;
	}
	#line3,
	#line4,
	#line5,
	#line6 {
		font-size: 16px;
	}
	.wave-edit {
		height: 60%;
		width: 100%;
		position: absolute;
		z-index: 0;
	}
}
@media screen and (max-width: 1000px) {
	.wave-edit {
		height: 50%;
	}
	.main {
		grid-template-columns: 100%;
		grid-template-rows: 1fr 1fr;
		height: 800px;
	}
	.main > .content {
		padding-left: 60px;
		padding-top: 50px;
		display: grid;
		justify-content: center;
	}
	.main > .progPic > img {
		padding-top: 20px;
		width: 220px;
		height: 220px;
	}
	#line1 {
		font-size: 55px;
	}
	#line2 {
		font-size: 20px;
	}
	#line3,
	#line4,
	#line5,
	#line6 {
		font-size: 16px;
	}
	#googleform {
		width: 300px;
		height: 70px;
		font-size: 20px;
		margin: 20px;
	}
}
@media screen and (max-width: 600px) {
	.wave-edit {
		height: 40%;
	}
	.main {
		height: 700px;
	}
	#line1,
	#line2 {
		font-size: 40px;
	}
	#line2 {
		font-size: 20px;
		padding-bottom: 20px;
	}
	#line3,
	#line4,
	#line5,
	#line6 {
		font-size: 15px;
	}
	#googleform {
		width: 200px;
		height: 60px;
		font-size: 16px;
		margin: 15px;
	}
	.main > .progPic > img {
		width: 160px;
		height: 160px;
		padding-bottom: 50px;
	}
}

/* Countdown */
.countdown {
	position: relative;
	height: auto;
	padding-bottom: 100px;
	max-width: 100%;
	/* background: linear-gradient(to bottom, grey 0%, grey 60%, white 60%, white 100%),
		linear-gradient(45deg, #1870ed 0, #f18f88 100%); */
	color: rgba(255, 255, 255, 0.9);
}
.topicCountdown {
	margin-left: 18%;
	color: whitesmoke;
	position: relative;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.topicCountdown:nth-child(1) {
	font-size: 35px;
	padding-bottom: 5px;
	padding-top: 50px;
	text-emphasis: left;
}
.topicCountdown:nth-child(2) {
	font-size: 16px;
	padding-bottom: 50px;
}
.solution {
	margin: 20px auto;
	display: grid;
	justify-content: center;
	align-items: center;
	width: 350px;
	height: 60px;
	background-color: #ffc0cb;
	border-radius: 1px;
	text-decoration: none;
	font-size: 20px;
	color: indigo;
}
.solution:hover {
	filter: brightness(110%);
	transition: all 0.5s;
}

.time {
	margin: auto;
	text-align: center;
	width: 60%;
	/* background-color: rgba(0, 0, 0, 0.9); */
	display: grid;
	height: fit-content;
	grid-template-columns: repeat(7, 1fr);
	align-items: center;
	justify-content: space-around;
	padding: 50px;
	font-family: "Montserrat", "sans-serif";
	/* border: 2px solid white; */
	-moz-box-shadow: 10px 20px 30px rgba(255, 255, 255, 0.2);
	-webkit-box-shadow: 10px 20px 30px rgba(255, 255, 255, 0.2);
	box-shadow: 10px 20px 100px rgba(255, 255, 255, 0.4);
}
/* .slot-container{
	display: grid;
	grid-template-rows:  1fr 2fr 1fr;
}

.pulse-circle {
	border-radius: 50%;
	background-color: deepskyblue;
	width: 150px;
	height: 150px;
	position: absolute;
	opacity: 0;
	animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}

@keyframes scaleIn {
	from {
	  transform: scale(.5, .5);
	  opacity: .5;
	}
	to {
	  transform: scale(2.0, 2.0);
	  opacity: 0;
	}
}
.light-purple{
	background-color: rgb(203, 88, 238);
}
.purple{
	background-color: rgb(204, 0, 255);
} */

@font-face {
	font-family: "digital-clock-font";
	src: url("digital-7.ttf");
}

@font-face {
	font-family: "subway-ticker";
	src: url("SUBWT___.ttf");
}

.time > div > p {
	font-size: 70px;
	font-family: "digital-clock-font";
	display: grid;
	align-items: baseline;
	position: relative;
	color: #fff;
	text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4, 0 0 80px #03bcf4, 0 0 160px #03bcf4;
	outline: none;
	text-align: center;
	/* border-radius: 50%;
	width: 10vw;
    height: 10vw;
	display: grid;
	align-items: center;
	justify-content: center;
	background-image: radial-gradient(rgb(0,255,255), rgb(106,90,205),rgb(0,255,255)); */
}

.time > div > span {
	margin-top: 10%;
	font-family: "subway-ticker";
	color: #fff;
	text-shadow: 0 0 10px rgb(138, 43, 226), 0 0 20px rgb(138, 43, 226), 0 0 40px rgb(138, 43, 226), 0 0 80px rgb(138, 43, 226),
		0 0 160px rgb(138, 43, 226);
}

#label {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.35);
	text-transform: uppercase;
	display: grid;
	align-items: flex-start;
}
@media screen and (max-width: 1000px) {
	.countdown {
		margin: auto;
	}
	.topicCountdown:nth-child(1) {
		font-size: 40px;
		padding-top: 20px;
	}
	.topicCountdown:nth-child(2) {
		font-size: 15px;
	}
	.time {
		height: 100px;
	}
	.time > div > p {
		font-size: 60px;
	}
	#label {
		font-size: 12px;
	}
}
@media screen and (max-width: 800px) {
	.time {
		height: 80px;
	}
	.time > div > p {
		font-size: 60px;
	}
	#label {
		font-size: 12px;
	}
	#colon {
		font-size: 30px;
	}
	.topicCountdown:nth-child(1) {
		font-size: 30px;
	}
	.topicCountdown:nth-child(2) {
		font-size: 13px;
	}
	.solution {
		width: 250px;
		height: 50px;
		font-size: 15px;
	}
}
@media screen and (max-width: 500px) {
	.time {
		height: 50px;
		align-content: center;
		padding: 40px 30px;
	}
	.time > div > p {
		font-size: 40px;
		align-content: center;
	}
	#label {
		font-size: 10px;
	}
	#colon {
		font-size: 15px;
		display: grid;
		align-self: flex-start;
	}
}
#colon {
	font-size: 40px;
	font-weight: 550;
	color: rgba(255, 255, 255, 0.35);
}
.nottathon {
	display: grid;
	grid-template-columns: 3fr 10fr 3fr;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
	background-color: rgba(0, 0, 0, 0.8);
	padding-bottom: 100px;
}
.container-about {
	background-color: rgba(0, 0, 0, 0.8);
}
.container-intro {
	background-color: rgba(0, 0, 0, 0.8);
}
.container-prize {
	background-color: rgba(0, 0, 0, 0.8);
}
.container-detail {
	background-color: rgba(0, 0, 0, 0.8);
}
.container-timeline {
	background-image: linear-gradient(to right, rgb(12, 1, 20), rgb(31, 9, 78));
}
.container-sponsor {
	background-image: linear-gradient(to left, rgb(12, 1, 20), rgb(31, 9, 78));
}
h5,
h6 {
	font-family: "Bahnschrift", Times, serif;
	font-size: 48px;
	font-weight: 500;
	text-align: center;
	padding: 30px;
	color: rgba(255, 255, 255, 0.95);
}

#detailcontent {
	font-size: 20px;
	padding: 20px;
	color: rgba(255, 255, 255, 0.7);
	line-height: 150%;
}

.glow {
	animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px rgb(19, 19, 19), 0 0 20px #ffb84d, 0 0 30px #ffed4d;
	}
	to {
		text-shadow: 0 0 10px rgb(19, 19, 19), 0 0 20px #f0e006, 0 0 40px #ffed4d, 0 0 60px #ffed4d;
	}
}
#mockcontest {
	/*
	text-align: center;
	width: 200px;
	height: 60px;
	border: none;
	font-size: 18px;
	transition: all 0.3s;
	background-color: rgb(255, 255, 125);
	filter: brightness(90%);
	*/

	cursor: pointer;

	height: 100px;
	width: 200px;
	background: transparent;
	margin: 50px;
	text-align: center;
	line-height: 30px;
	border-color: rgb(174, 0, 255);
	border-width: 5px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: rgb(174, 0, 255);
	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Bahnschrift", fantasy;
	transition: 0.8s ease-out;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 10px;
	padding-left: 13px;

	font-size: 20px;
	text-transform: uppercase;
	-webkit-animation: mockglowing 1300ms infinite;
	-moz-animation: mockglowing 1300ms infinite;
	-o-animation: mockglowing 1300ms infinite;
	animation: mockglowing 3000ms infinite;
}

#mockcontest span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
@-webkit-keyframes mockglowing {
	0% {
		/*background-color: rgb(3, 48, 85);*/
		-webkit-box-shadow: 0 0 50px #bc81e4;
	}
	50% {
		background-color: rgb(56, 56, 56);
		-webkit-box-shadow: 0 0 50px #8c00ff;
	}
	100% {
		/*background-color: rgb(67, 88, 10);*/
		-webkit-box-shadow: 0 0 50px #24035a;
	}
}

.about {
	margin-top: 50px;
	height: auto;
	grid-column: 2/3;
	padding-bottom: 50px;
}
.datatable {
	width: 90%;
	margin-left: 5%;
	border-radius: 10px;
	background-color: rgba(28, 4, 66, 0.8);
	height: 200px;
	grid-column: 2/3;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	/* grid-gap: 10px; */
	align-items: center;
	justify-items: center;
}
.data {
	/* background-color: white; */
	height: 80%;
	width: 100%;
	display: grid;
	grid-template-rows: 30% 40% 15%;
	justify-content: center;
}
.data > .icon {
	display: grid;
	align-items: flex-end;
	justify-content: center;
}

.number-wrapper {
	color: white;
	filter: brightness(120%);
	text-align: center;
	font-family: sans-serif;
	font-size: 45px;
	font-weight: 500;
	display: grid;
	align-items: center;
	justify-content: center;
}
.title-wrapper {
	color: rgba(255, 255, 255, 0.4);
	/* color: #cd4bee; */
	text-align: center;
	font-family: sans-serif;
	font-size: 16px;
	display: grid;
	align-items: center;
	justify-content: center;
}

.introduction {
	margin-top: 50px;
	height: auto;
	grid-column: 2/3;
	display: grid;
	justify-items: center;
}
.introduction > #detailcontent {
	padding-bottom: 30px;
}
.prize {
	margin-top: 50px;
	height: auto;
	grid-column: 2/3;
}
.detail {
	margin-top: 50px;
	height: auto;
	grid-column: 2/3;
	font-family: serif;
}
.timeline {
	margin-top: 50px;
	height: auto;
	grid-column: 2/3;
	font-family: serif;
}
.sponsor {
	margin-top: 50px;
	height: auto;
	grid-column: 2/3;
}

.sameline {
	display: flex;
	text-align: center;
}

.nottathon > .prize > #detailcontent {
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
	text-align: center;
	padding: 50px 0;
	height: auto;
}
.nottathon > .prize > #detailcontent > div > h6 {
	font-size: 35px;
	padding: 20px;
	color: white;
}
.nottathon > .prize > #detailcontent > .second > h6,
.nottathon > .prize > #detailcontent > .third > h6 {
	font-size: 28px;
}
.nottathon > .prize > #detailcontent > div > img {
	width: 170px;
	height: 250px;
}
.nottathon > .prize > #detailcontent > div > p {
	font-size: 18px;
}
.detail > p {
	text-align: center;
	font-size: 25px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 150%;
	padding: 20px;
}

/* for timeline */
.box {
	margin: 0 10%;
	height: auto;
	padding: 10px 0 40px 60px;
}

.box ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	transition: all 0.5s linear;
	top: 0;
}

.box ul:before {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	border: 1px dashed rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: 30px;
}

.box ul li {
	margin: 10px 60px 50px;
	position: relative;
	padding: 10px 20px;
	background: rgba(255, 255, 255, 0.3);
	color: rgb(255, 255, 255);
	border-radius: 10px;
	line-height: 20px;
}

.box ul li > span {
	content: "";
	display: block;
	width: 0;
	height: 100%;
	border: 1px solid rgb(255, 255, 255);
	position: absolute;
	top: 0;
	left: -30px;
}

.box ul li > span:before,
.box ul li > span:after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #183cb3;
	border: 2px solid rgb(255, 255, 255);
	position: absolute;
	left: -7.5px;
}

.box ul li > span:before {
	top: -10px;
}
.box ul li > span:after {
	top: 95%;
}

.box .title {
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 10px;
}

.box .info:first-letter {
	text-transform: capitalize;
	line-height: 1.7;
}

.box .name {
	margin-top: 10px;
	text-transform: capitalize;
	font-style: italic;
	text-align: right;
	margin-right: 20px;
}

.box .timeEvent span {
	position: absolute;
	left: -100px;
	color: rgb(255, 255, 255);
	font-size: 80%;
	font-weight: bold;
}
.box .timeEvent span:first-child {
	top: -16px;
}
.box .timeEvent span:last-child {
	top: 94%;
}

/*until here for timeline*/

@media screen and (max-width: 1000px) {
	.nottathon {
		grid-template-columns: 2fr 10fr 2fr;
	}
	.nottathon > .prize > #detailcontent > div > p {
		font-size: 16px;
	}
	.nottathon > .prize > #detailcontent > div > h6 {
		font-size: 28px;
		padding: 15px;
	}
	.nottathon > .prize > #detailcontent > .second > h6,
	.nottathon > .prize > #detailcontent > .third > h6 {
		font-size: 19px;
	}
	.number-wrapper {
		font-size: 35px;
	}
	.title-wrapper {
		font-size: 15px;
	}
}
@media screen and (max-width: 700px) {
	.nottathon > .prize > #detailcontent {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: 100%;
	}
	.nottathon > .prize > #detailcontent > .second {
		grid-row: 2;
	}
	.nottathon > .prize > #detailcontent > .first {
		grid-row: 1;
	}
	.nottathon > .prize > #detailcontent > .third {
		grid-row: 3;
	}
	.datatable {
		height: 175px;
	}
}

@media screen and (max-width: 550px) {
	.nottathon {
		grid-template-columns: 1fr 10fr 1fr;
	}
	h5 {
		font-size: 30px;
		padding: 10px 0;
	}
	#detailcontent {
		font-size: 16px;
		padding: 10px;
		color: rgba(255, 255, 255, 0.65);
		line-height: 130%;
		text-align: justify;
	}
	.detail > p {
		font-size: 20px;
		padding: 20px;
	}
	.datatable {
		height: 135px;
		width: 95%;
		margin-left: 2.5%;
	}

	.number-wrapper {
		font-size: 25px;
	}
	.title-wrapper {
		font-size: 11px;
	}

	.data > .icon > svg {
		height: 30px;
		width: 30px;
	}
}
/* FAQs */
.background {
	height: 110px;
}
.header {
	height: 250px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
.header > h4 {
	color: rgba(255, 255, 255, 0.9);
	font-size: 60px;
	font-weight: 200;
	padding: 70px;
}
.header > p {
	color: rgba(255, 255, 255, 0.6);
	font-size: 20px;
}
.faq {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	background-color: rgba(255, 255, 255, 0.98);
	padding-bottom: 80px;
}
.question {
	grid-column: 2/3;
	padding-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
	transition: all 0.5s !important;
}
.ques {
	width: 940px;
	height: auto;
	background-color: hsl(0, 0%, 85%);
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 21px;
	padding-bottom: 21px;
	cursor: pointer;
	font-weight: 600;
	font-size: 20px;
	transition: all 0.5s !important;
	overflow: auto;
}
.active,
.ques:hover {
	background-color: hsl(275, 100%, 35%);
	color: rgba(255, 255, 255, 0.95);
}
.ques:hover:after {
	color: rgba(255, 255, 255, 0.95);
}
.ques:after {
	content: "\002B";
	color: rgb(90, 90, 90);
	font-weight: bold;
	float: right;
	margin-left: 5px;
}
.active.ques:after {
	content: "\2212";
	color: rgba(255, 255, 255, 0.95);
}
.answer {
	width: 1000px;
	max-height: 0;
	overflow: hidden;
	background-color: hsl(0, 0%, 85%);
	text-align: justify;
	transition: max-height 0.6s ease-in-out;
	font-size: 18px;
}
.answer > p {
	padding: 30px 30px;
}
.stillHaveQuestion {
	background-color: rgba(255, 255, 255, 0.98);
	text-align: center;
	padding-bottom: 30px;
}
.stillHaveQuestion > div {
	font-size: 16px;
}
.stillHaveQuestion > img {
	padding: 20px 25px;
	cursor: pointer;
}
@media screen and (max-width: 1150px) {
	.faq {
		grid-template-columns: 4fr 660px 4fr;
	}
	.ques {
		font-size: 18px;
		width: 600px;
	}
	.answer {
		width: 660px;
		font-size: 16px;
	}
}
@media screen and (max-width: 900px) {
	.faq {
		grid-template-columns: 3fr 600px 3fr;
	}
	.ques {
		font-size: 16px;
		width: 540px;
	}
	.answer {
		width: 600px;
		font-size: 15px;
	}
}
@media screen and (max-width: 750px) {
	.faq {
		grid-template-columns: 3fr 500px 3fr;
	}
	.ques {
		width: 440px;
	}
	.answer {
		width: 500px;
	}
}
@media screen and (max-width: 500px) {
	.faq {
		grid-template-columns: 3fr 360px 3fr;
	}
	.ques {
		font-size: 15px;
		width: 300px;
	}
	.answer {
		width: 360px;
		font-size: 15px;
	}
}
@media screen and (max-width: 380px) {
	.faq {
		grid-template-columns: 3fr 300px 3fr;
	}
	.ques {
		font-size: 14px;
		width: 260px;
		padding: 21px 20px;
	}
	.ques:after {
		display: none;
	}
	.active.ques:after {
		display: none;
	}
	.answer {
		width: 300px;
	}
}
/* Contributor */
.sponsorship {
	height: auto;
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	font-size: 60px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
}
.sponsorship > h6 {
	padding-top: 80px;
	padding-bottom: 50px;
}
.sponsorship > img {
	width: 350px;
	height: 150px;
	background-color: rgba(255, 255, 255, 0.8);
}
.sponsorship > img:hover {
	transition: all 0.3s;
	background-color: rgba(255, 255, 255, 1);
}
.contributor {
	height: auto;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.contributor > h6 {
	font-size: 50px;
	text-align: center;
	padding-top: 100px;
	font-weight: 600;
}
.contributor > p {
	font-size: 25px;
	text-align: center;
	padding: 30px 50px;
}
.lecturers {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 30px;
	justify-content: center;
	padding: 60px 30px;
}
.dr {
	border: 2px solid transparent;
	border-radius: 2%;
	background-color: rgb(252, 252, 252, 0.15);
}
.dr > h7 {
	font-size: 37px;
	color: rgba(255, 234, 118, 0.85);
}
.dr > div {
	padding: 30px 0;
	font-size: 17px;
}
.iet {
	padding-top: 80px;
}
.iet > h8 {
	font-size: 50px;
}
.iet > p {
	font-size: 20px;
	padding: 50px 25px;
}
.iet > .profile {
	display: grid;
	grid-template-columns: repeat(5, minmax(260px, 1fr));
	max-width: 100%;
}
.iet > div > .boss {
	display: grid;
	justify-content: center;
	grid-template-rows: repeat(3, auto);
	text-align: center;
}
.boss > .name {
	/*color: rgb(255, 100, 255);*/
	color: rgb(255, 234, 118);
	font-size: 26px;
	/*added font family*/
	font-family: fantasy;
	padding: 30px 0;
}

.boss > .position {
	color: rgba(255, 255, 255, 0.9);
	font-size: 20px;
	padding-bottom: 100px;
}
.boss > div {
	position: relative;
	display: grid;
	align-items: center;
}

.boss > div > .circle {
	position: absolute;
	top: -15px;
	left: -15px;
	width: 200px;
	height: 200px;
	background: linear-gradient(#33ccff, #c300ff);
	border-radius: 50%;
	animation: animate 2s linear infinite;
	z-index: 0;
}

@keyframes animate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.boss > div > img {
	width: 170px;
	height: 170px;
	/*border: 6px rgba(255, 234, 118, 0.8) solid;*/
	border-radius: 50%;
	filter: brightness(95%);
	transition: all 0.5s;
	z-index: 1;
}

.boss > div > img:hover {
	filter: brightness(115%);
}
@media screen and (max-width: 1300px) {
	.iet > .profile {
		grid-template-columns: repeat(3, minmax(260px, 1fr));
	}

	.boss > .position {
		padding-bottom: 50px;
	}

	.iet > p {
		font-size: 16px;
	}
	.contributor > h6 {
		font-size: 45px;
		padding-top: 80px;
	}
	.contributor > p {
		font-size: 22px;
		padding-top: 50px;
	}
	.dr > h7 {
		font-size: 32px;
	}
	.dr > div {
		padding: 20px 0;
		font-size: 16px;
	}
}

@media screen and (max-width: 750px) {
	.iet > .profile {
		grid-template-columns: repeat(2, minmax(260px, 1fr));
	}
	.iet > h8 {
		font-size: 40px;
	}
	.boss > .name {
		font-size: 22px;
	}
	.boss > .position {
		font-size: 20px;
	}
	.contributor > h6 {
		font-size: 40px;
	}
	.contributor > p {
		font-size: 20px;
	}
}
@media screen and (max-width: 450px) {
	.iet > .profile {
		grid-template-columns: repeat(1, minmax(260px, 1fr));
	}
	.boss.tech > .position {
		padding-bottom: 100px;
	}
	.iet > h8 {
		font-size: 35px;
	}
	.iet > p {
		font-size: 13px;
	}
	.contributor > h6 {
		font-size: 40px;
	}
	.contributor > p {
		font-size: 15px;
	}
	.dr > h7 {
		font-size: 27px;
	}
	.dr > div {
		padding: 20px 0;
		font-size: 15px;
	}
}
/* OfficialRule */
.officialRules {
	height: auto;
	color: whitesmoke;
	font-size: 30px;
	text-align: center;
	padding-bottom: 20px;
}
.rulebookTag {
	height: auto;
	background-color: white;
	padding: 10px;
	font-size: 20px;
}
.rulebook {
	width: 100%;
	height: 1000px;
}
/* copyright */
.cprt {
	background-color: rgba(0, 0, 0, 0.8);
	color: rgba(255, 255, 255, 0.9);
	text-align: center;
	padding: 6px;
	font-size: 13px;
}

/* Rulebook */

iframe {
	height: 545px;
	width: 100%;
}

/* Results */
.results {
	height: auto;
	color: rgba(245, 245, 245, 0.9);
	padding: 60px 0;
	display: grid;
	grid-template-columns: 1fr 300px;
	justify-items: flex-end;
	align-items: center;
	grid-gap: 30px;
}
.resultdes {
	width: 400px;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.5px;
	line-height: 42px;
	font-size: 32px;
}
#results {
	display: grid;
	justify-content: center;
	border-bottom: 1px white;
}
.resultBar {
	height: 2px;
	width: 120px;
	background-color: gold;
	position: relative;
	top: 32px;
	text-align: left;
}
#boldtext {
	font-weight: 700;
	font-size: 35px;
	color: rgba(245, 245, 245);
}

.resultLogo {
	height: 300px;
	width: 300px;
	background-color: indigo;
	border-radius: 50%;
}
.trophy {
	width: 310px;
	height: 310px;
	position: relative;
	right: 40px;
	bottom: 30px;
}
.winner {
	height: 750px;
	display: grid;
	grid-template-columns: auto repeat(3, 250px) auto;
	color: whitesmoke;
	grid-gap: 80px;
	padding-top: 80px;
}
.winners {
	position: relative;
}

.winners > img {
	width: 135px;
	height: 200px;
	display: grid;
	justify-self: center;
}
.winners:nth-child(1) > img {
	padding-top: 150px;
}
.winners:nth-child(3) > img {
	padding-top: 70px;
}
.winners > .winnerDes {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	color: rgba(0, 0, 0, 0.9);
	font-family: "Raleway", sans-serif;
}
.winners > .winnerDes > h1 {
	padding-top: 100px;
	font-size: 40px;
	font-weight: 1000;
	font-family: "ZCOOL XiaoWei", serif;
}
.winners.winners:nth-child(2) > .winnerDes > h1 {
	font-size: 45px;
}

.winners > .winnerDes > p {
	padding-top: 30%;
	font-size: 18px;
	font-weight: 600;
}
.winners:nth-child(1) > .winnerDes {
	background-color: #a97142;
	height: 400px;
}
.winners:nth-child(2) > .winnerDes {
	background-color: #f7be33;
	height: 550px;
}
.winners:nth-child(3) > .winnerDes {
	background-color: #cfcfcf;
	height: 480px;
}
.winners.champion {
	display: grid;
	grid-column: 3/4;
}
.winners.second {
	display: grid;
	grid-column: 4/5;
}
.winners.third {
	display: grid;
	grid-column: 2/3;
}

@media screen and (max-width: 1100px) {
	.winner {
		grid-template-columns: auto repeat(3, 200px) auto;
		grid-gap: 60px;
	}
}
@media screen and (max-width: 900px) {
	.results {
		grid-template-columns: 1fr 220px;
		padding: 50px 0;
	}
	.resultdes {
		width: 250px;
		line-height: 35px;
		font-size: 22px;
	}
	.resultBar {
		width: 100px;
		top: 25px;
	}
	#boldtext {
		font-size: 25px;
	}

	.resultLogo {
		height: 200px;
		width: 200px;
	}
	.trophy {
		width: 210px;
		height: 210px;
	}
	.winner {
		grid-template-columns: auto repeat(3, 170px) auto;
		grid-gap: 50px;
		height: 650px;
	}
	.winners > .winnerDes > h1 {
		padding-top: 50px;
		font-size: 30px;
		font-weight: 1000;
	}
	.winners.winners:nth-child(2) > .winnerDes > h1 {
		font-size: 45px;
	}

	.winners > .winnerDes > p {
		font-size: 15px;
	}

	.winners > img {
		width: 100px;
		height: 150px;
	}
	.winners:nth-child(1) > .winnerDes {
		height: 350px;
	}
	.winners:nth-child(2) > .winnerDes {
		height: 500px;
	}
	.winners:nth-child(3) > .winnerDes {
		height: 420px;
	}
}
@media screen and (max-width: 700px) {
	.results {
		grid-template-columns: 1fr 150px;
		grid-gap: 20px;
	}
	.resultdes {
		width: 200px;
		font-size: 17px;
	}
	.resultBar {
		height: 1.5px;
		width: 80px;
		top: 20px;
	}
	#boldtext {
		font-size: 19px;
	}

	.resultLogo {
		height: 150px;
		width: 150px;
	}
	.trophy {
		width: 160px;
		height: 160px;
		right: 20px;
		bottom: 25px;
	}
	.winner {
		grid-template-columns: auto repeat(3, 115px) auto;
		grid-gap: 15px;
		height: 500px;
		padding-top: 50px;
	}
	.winners > .winnerDes > h1 {
		padding-top: 50px;
		font-size: 21px;
		font-weight: 1000;
	}
	.winners.winners:nth-child(2) > .winnerDes > h1 {
		font-size: 32px;
	}

	.winners > .winnerDes > p {
		font-size: 13px;
	}

	.winners > img {
		width: 100px;
		height: 150px;
	}
	.winners:nth-child(1) > .winnerDes {
		height: 250px;
	}
	.winners:nth-child(2) > .winnerDes {
		height: 350px;
	}
	.winners:nth-child(3) > .winnerDes {
		height: 300px;
	}
	.winners:nth-child(1) > img {
		padding-top: 100px;
	}
	.winners:nth-child(3) > img {
		padding-top: 50px;
	}
}
@media screen and (max-width: 400px) {
	.results {
		grid-template-columns: 1fr 125px;
		grid-gap: 15px;
	}
	.resultBar {
		width: 65px;
		top: 15px;
	}
	.resultdes {
		width: 180px;
		font-size: 15px;
	}
	#boldtext {
		font-size: 17px;
	}
	.resultLogo {
		height: 125px;
		width: 125px;
	}
	.trophy {
		width: 130px;
		height: 130px;
		right: 20px;
		bottom: 25px;
	}
	.winner {
		grid-template-columns: auto repeat(3, 105px) auto;
		grid-gap: 10px;
		height: 450px;
		padding-top: 35px;
	}
	.winners.winners:nth-child(2) > .winnerDes > h1 {
		font-size: 25px;
	}
	.winners > .winnerDes > h1 {
		padding-top: 50px;
		font-size: 18px;
		font-weight: 1000;
	}
	.winners > img {
		width: 90px;
		height: 130px;
	}
	.winners > .winnerDes > p {
		font-size: 12px;
	}
	.winners:nth-child(1) > .winnerDes {
		height: 230px;
	}
	.winners:nth-child(2) > .winnerDes {
		height: 320px;
	}
	.winners:nth-child(3) > .winnerDes {
		height: 270px;
	}
	.winners:nth-child(1) > img {
		padding-top: 90px;
	}
	.winners:nth-child(3) > img {
		padding-top: 50px;
	}
}

/* Animations */
.bubbles img {
	width: 50px;
	animation: bubble 7s linear infinite;
}
.bubbles {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
}
@keyframes bubble {
	0% {
		transform: translateY(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	100% {
		transform: translateY(-80vh);
		opacity: 0;
	}
}
.bubbles img:nth-child(1) {
	animation-delay: 2s;
	width: 25px;
}
.bubbles img:nth-child(2) {
	animation-delay: 1s;
}
.bubbles img:nth-child(3) {
	animation-delay: 3s;
	width: 25px;
}
.bubbles img:nth-child(4) {
	animation-delay: 4s;
}
.bubbles img:nth-child(5) {
	animation-delay: 3s;
	width: 20px;
}
.bubbles img:nth-child(6) {
	animation-delay: 6s;
}
.bubbles img:nth-child(7) {
	animation-delay: 7s;
	width: 35px;
}

/*Power Button*/
.power_butt {
	font-family: "Poppins", sans-serif;
	display: flex;
	justify-content: left;
	align-items: left;
	flex-wrap: wrap;
}
.power_butt a {
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	border: 2px solid rgb(204, 0, 255);
	margin: 40px;
	text-transform: uppercase;
	font-weight: 600;
	text-decoration: none;
	letter-spacing: 2px;
	color: #fff;
	/*-webkit-box-reflect: below 0px linear-gradient(transparent, #002);*/
	transition: 0.5s;
	transition-delay: 0s;
}

.power_butt a:hover {
	transition-delay: 0.1s;
	color: #000;
	box-shadow: 0 0 10px rgb(204, 0, 255), 0 0 20px rgb(204, 0, 255), 0 0 40px rgb(204, 0, 255), 0 0 80px rgb(204, 0, 255), 0 0 160px #0f0;
}

.power_butt a:span {
	position: relative;
	z-index: 100;
}

.power_butt a:nth-child(2) {
	filter: hue-rotate(80deg);
}

.power_butt a::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: rgb(204, 0, 255);
	box-shadow: 5px -8px 0 rgb(204, 0, 255), 5px 8px 0 rgb(204, 0, 255);
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	box-shadow: 0.5s;
	transition-delay: 1s 0.5s 0s 0s;
}

.power_butt a:hover::before {
	width: 60%;
	height: 100.8%;
	left: 2px;
	box-shadow: -5px 0 0 rgb(204, 0, 255), -5px 0 0 rgb(204, 0, 255);
	transition-delay: 0s 0.5s 0.5s 0.5s;
}

.power_butt a::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: rgb(204, 0, 255);
	box-shadow: -5px -8px 0 rgb(204, 0, 255), -5px 8px 0 rgb(204, 0, 255);
	transition: width 0.5s, left 0.5s, height 0.5s, box-shadow 0.5s;
	box-shadow: 0.5s;
	transition-delay: 1s 0.5s 0s 0s;
}

.power_butt a:hover::after {
	width: 60%;
	height: 100.8%;
	right: -2px;
	box-shadow: -5px 0 0 rgb(204, 0, 255), -5px 0 0 rgb(204, 0, 255);
	transition-delay: 0s 0.5s 0.5s 0.5s;
}

.glow_button {
	border: 1px transparent;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	color: #eeeeee;
	cursor: pointer;
	display: inline-block;
	font-family: Arial;
	font-size: 20px;
	padding: 8px 30px;
	text-align: center;
	text-decoration: none;
	margin-left: 20px;
	-webkit-animation: glowing 1300ms infinite;
	-moz-animation: glowing 1300ms infinite;
	-o-animation: glowing 1300ms infinite;
	animation: glowing 1300ms infinite;
}

#round_glow_button {
	cursor: pointer;
	min-height: 30px;
	background: transparent;
	margin: 30px;
	text-align: center;
	line-height: 30px;
	border-color: rgb(182, 145, 224);
	border-width: 3px;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	color: rgb(241, 241, 241);
	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.2), 1px 1px 2px rgba(0, 0, 0, 0.2);
	font-family: "Bahnschrift", fantasy;
	transition: 0.1s ease-out;
	padding-top: 10px;
	padding-right: 13px;
	padding-bottom: 10px;
	padding-left: 13px;
	/*
	box-shadow: inset 1px 1px 2px rgba(240, 242, 243, 0.795), inset 3px 15px 45px rgba(255, 255, 255, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.5),
		inset -3px -15px 45px rgba(0, 0, 0, 0.2), 1px 5px 30px -4px rgba(0, 0, 0, 1);
		*/
	text-transform: uppercase;
	-webkit-animation: glowing 1300ms infinite;
	-moz-animation: glowing 1300ms infinite;
	-o-animation: glowing 1300ms infinite;
	animation: glowing 1300ms infinite;
}
#round_glow_button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.2s;
}
#round_glow_button span:after {
	content: "\00bb";
	font-size: 22px;
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0s;
}
@-webkit-keyframes glowing {
	0% {
		/*background-color: rgb(3, 48, 85);*/
		-webkit-box-shadow: 0 0 15px #0091b2;
	}
	50% {
		/*background-color: rgb(41, 2, 85);*/
		-webkit-box-shadow: 0 0 80px #21c7ed;
	}
	100% {
		/*background-color: rgb(67, 88, 10);*/
		-webkit-box-shadow: 0 0 15px #51cdec;
	}
}
